<section class="bg-primary" id="about style="background-color: #ffe046;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About US!</h2>
                <hr class="light">
                <p class="text-faded">

I’m Akash, a creative designer specializing in custom cartoon mascot logos, brand identity, and packaging design that make businesses stand out. With years of experience in graphic design, illustration, and branding, I help brands transform their ideas into bold, memorable visuals.

From fun and playful mascots for e-sports teams to eye-catching product packaging for retail, I craft designs that tell a story, connect with your audience, and leave a lasting impression. My work blends creativity, strategy, and attention to detail, ensuring every design not only looks amazing but also works perfectly for your brand’s goals.

Whether you need a logo that stands out online, a character that customers love, or packaging that sells, I bring your vision to life with originality, precision, and passion.

🚀 Ready to level up your brand?</p>
                <a href="https://akashnaveenjay.github.io/logo.github.io/#contact" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
