<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Get a Custom Logo That Makes Your Brand Unforgettable! Let’s Create Something Amazing Together!</h1>
            <hr>
            <p>Your logo is your business’s first impression. It helps people recognize you, builds trust, and makes your brand memorable. A strong logo sets you apart and helps grow your business!</p>
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
